.nav-ui li{
display: inline-flex;
padding-right: 25px;
}

.nav-ui{
display: flex;
background-color: grey;
margin: 0;
padding: 5px;
align-items: center;
flex-direction: row;

}
.nav-ui li a {
    color: white; 
    text-decoration: none;
    padding: 5px;
    font-size: 16px;
    font-weight: bold;
}
.nav-ui li a:hover {
    
    color: skyblue
}

.footer {
    position: absolute;
    bottom: 0;
    background-color: grey;
    width: 100%;
    text-align: center;
}
.logo {
    width: 100px;
    
}
.right-section {
    display: flex;
    align-items: center;
    margin-left: 450px
}
.search-bar {
    margin-left: 20px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 350px;
    padding-top:15px;
    padding-bottom:15px;
    background-color: white;
    font-size: 16px;
}

.login-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
    font-size: 16px;
    padding-top: 15px;
    padding-bottom: 15px;
}
.register-button {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
    font-size: 16px;
    padding-top: 15px;  
    padding-bottom: 15px;
}